<%= form_for @post do |f| %>
    <%= f.label :location %>  
    <%= f.collection_select :location_id, Location.all, :id, :name %><br>
    <%= f.label :date %>
    <%= f.date_field :date %><br>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :content %>
    <%= f.text_area :content %><br>
    <%= f.label :photos %><br>
      <%if @post.photos.attached?%>
        <% @post.photos.each do |photo| %>
            <li>
            <%= link_to photo.filename, rails_blob_path(photo, disposition: "attachment") %>
            </li>
        <% end %>
      <%end%>
    <%= f.file_field :photos, multiple: true %><br>
    <%= f.submit "Post" %>
<% end %>