<h1><%= @location.name %></h1>

<img src = <%= @location.img_url%> alt = <%=@location.name %> width="525" height="349">

<fieldset>
<legend><h2>Current Weather Conditions:</h2></legend>
<div>Current weather coming soon!</div>
</fieldset>

<fieldset>
<legend><h2>Current Snowpack:</h2></legend>
<div><%= @location.central_station_snowpack %> inches at <%= @location.central_station.name %><br>
    Updated at <%= @location.central_station_date %></div>
</fieldset>

<fieldset>
<legend><h2>Recent Posts:</h2></legend>
<% if @location.posts.empty? %>
    <div>No recent post activity</div>
<% else %>
    <ul>
    <% @location.posts.sort_by { |post| post.date}.reverse_each do |post| %>
        <li><%= link_to "#{post.title} from #{post.date}", post %></li>
    <% end %>
    </ul>
<% end %>

<div><%=link_to "Add a New Post!", new_post_path %></div>
</fieldset>