<h1><%= @location.name %></h1>

<img src = <%= @location.img_url%> alt = <%=@location.name %> width="525" height="349">

<h2>Current Weather Conditions:</h2>
<div>figure out API call</div>

<h2>Current Snowpack:</h2>
<div><%= @location.central_station_snowpack %> inches at <%= @location.central_station.name %><br>
    Updated at <%= @location.central_station_date %></div>

<h2>Recent Posts:</h2>
<% if @location.posts.empty? %>
    <div>No recent post activity</div>
<% else %>
    <ul>
    <% @location.posts.each do |post| %>
        <li><%= link_to "#{post.title} from #{post.date}", post %></li>
    <% end %>
    </ul>
<% end %>

<div><%=link_to "Add a New Post!", new_post_path %></div>